<div class="row g-3">
    <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Player Name..." @bind="_playerName" />
    </div>
    <div class="col">
        <button class="btn btn-primary" @onclick="@(() => OnPlayerAdding.InvokeAsync(_playerName))">Add Player</button>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<string> OnPlayerAdding { get; set; }

    public string _playerName;
}
